# Directorios generados
/node_modules
/build
/.next
/dist
/env

# Archivos de compilación o generados
*.pyc
*.pyo
*.pyd
__pycache__/
*.log

# Archivos de entorno local


# Archivos específicos de IDE o editor de texto
.vscode/

# Archivos de caché de dependencias
/yarn-error.log
npm-debug.log
